extends ../templates/layout.jade
block title
  - var page_title = "下層ページ"
  - var page_name = "low"
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:url", content="#{meta.info.url}#{page_name}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
block css

block body
  main
    p ここはindex.jadeのコンテンツです!

block script_src

block script