extends ./templates/layout.jade
block title
  title #{meta.info.title}
block meta01
  meta(name="description", content=meta.info.description)
  meta(name="keywords", content=meta.info.keywords)
block meta02
  meta(property="og:title", content=meta.info.title)
  meta(property="og:description", content=meta.info.description)
  meta(property="og:url", content=meta.info.url)
block css

block body
  main

block script_src

block script