doctype
html(lang='ja')
  head
    meta(charset='UTF-8')
    block title
    block meta01
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport", content="target-densitydpi=device-dpi, width=任意の数字, maximum-scale=1.0, user-scalable=yes")
    meta(name="format-detection", content="telephone=no,address=no,email=no")
    block meta02
    meta(property="og:type", content="website")
    meta(property="og:image", content=meta.info.image)
    meta(property="og:site_name", content=meta.info.site_name)
    link(rel="stylesheet", href="#{meta.info.url}assets/css/style.css")
    link(rel="stylesheet", href="#{meta.info.url}assets/css/reset.css")
    block css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    //[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]
  !='\n'
  body
    include ./header.jade
    !='\n'
    block body
    !='\n'
    include ./footer.jade
    !='\n'

    script(src="#{meta.info.url}assets/js/rollover/rollover.js")
    script(src="#{meta.info.url}assets/js/rollover/opacity-rollover2.1.js")
    block script_src
    !='\n'

    // ロールオーバーの記述
    script.
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    block script