form#mailformpro(action="#{meta.info.url}mailform/mailformpro/mailformpro.cgi", method="POST")
  .tbl_wrap
    table
      tbody
        tr
          th.req 貴社名
          td
            input(name="貴社名", required="required", type="text")
        tr
          th.req お名前
          td
            input(name="お名前", required="required", type="text")
        tr
          th.req フリガナ
          td
            input(name="フリガナ", type="text", data-charcheck="kana")
        tr
          th.req E-mail
          td
            input(name="email", required="required", type="email", data-type="email")
        tr
          th.req
          td
            input(name="確認用メールアドレス", required="required", type="email", data-type="email")
        tr
          th 郵便番号
          td
            input(type="text", name="郵便番号", data-address="都道府県,市区町村,丁目番地")
        tr
          th ご住所
          td
            ol
              li
                span 都道府県
                select(name="都道府県")
                  option(value="", selected="selected") 【選択して下さい】
                  optgroup(label="北海道・東北地方")
                    option(value="北海道") 北海道
                    option(value="青森県") 青森県
                    option(value="岩手県") 岩手県
                    option(value="秋田県") 秋田県
                    option(value="宮城県") 宮城県
                    option(value="山形県") 山形県
                    option(value="福島県") 福島県
                  optgroup(label="関東地方")
                    option(value="栃木県") 栃木県
                    option(value="群馬県") 群馬県
                    option(value="茨城県") 茨城県
                    option(value="埼玉県") 埼玉県
                    option(value="東京都") 東京都
                    option(value="千葉県") 千葉県
                    option(value="神奈川県") 神奈川県
                  optgroup(label="中部地方")
                    option(value="山梨県") 山梨県
                    option(value="長野県") 長野県
                    option(value="新潟県") 新潟県
                    option(value="富山県") 富山県
                    option(value="福井県") 福井県
                    option(value="静岡県") 静岡県
                    option(value="岐阜県") 岐阜県
                    option(value="愛知県") 愛知県
                  optgroup(label="近畿地方")
                    option(value="三重県") 三重県
                    option(value="滋賀県") 滋賀県
                    option(value="京都府") 京都府
                    option(value="大阪府") 大阪府
                    option(value="兵庫県") 兵庫県
                    option(value="奈良県") 奈良県
                    option(value="和歌山県") 和歌山県
                  optgroup(label="四国地方")
                    option(value="徳島県") 徳島県
                    option(value="香川県") 香川県
                    option(value="愛媛県") 愛媛県
                    option(value="高知県") 高知県
                  optgroup(label="中国地方")
                    option(value="鳥取県") 鳥取県
                    option(value="島根県") 島根県
                    option(value="岡山県") 岡山県
                    option(value="広島県") 広島県
                    option(value="山口県") 山口県
                  optgroup(label="九州・沖縄地方")
                    option(value="福岡県") 福岡県
                    option(value="佐賀県") 佐賀県
                    option(value="長崎県") 長崎県
                    option(value="大分県") 大分県
                    option(value="熊本県") 熊本県
                    option(value="宮崎県") 宮崎県
                    option(value="鹿児島県") 鹿児島県
                    option(value="沖縄県") 沖縄県
              li
                span 市区町村
                input(type="text", name="丁目番地")
              li
                span 丁目番地
                input.ipf(type="text", name="丁目番地")
        tr
          th.req 電話番号
          td
            input(name="電話番号", type="tel", data-type="tel", data-min="9")

        tr
          th.req お問合せ種別
          td
            label
              input(type="radio", name="お問合せ種別", value="1", data-value="業務について", required="required")
              |&nbsp;業務について
            label
              input(type="radio", name="お問合せ種別", value="2", data-value="求人について", required="required")
              |&nbsp;求人について
            label
              input(type="radio", name="お問合せ種別", value="3", data-value="見積もり依頼", required="required")
              |&nbsp;見積もり依頼
            label
              input(type="radio", name="お問合せ種別", value="4", data-value="その他", required="required")
              |&nbsp;その他
        tr
          th.req 件名
          td
            ol
              li
                label
                  input(type="checkbox", name="件名", required="required", data-min="1", data-max="3", value="件名詳細")
                  |&nbsp;件名詳細
              li
                label
                  input(type="checkbox", name="件名", required="required", value="件名詳細")
                  |&nbsp;件名詳細
              li
                label
                  input(type="checkbox", name="件名", required="required", value="件名詳細")
                  |&nbsp;件名詳細
        tr
          th.req お問い合わせ内容
          td
            textarea(name="お問い合わせ内容", required="required")
        tr
          th.req 送信確認
          td
            label
              input(type="checkbox" required="required" name="送信確認" value="送信チェック済み")
              |&nbsp;上記送信内容を確認したらチェックを入れてください
  <!--/.tbl_wrap-->
  !='\n'

  .confirm_btn
    button.mysubmit.right(type="reset")
      <img src="#{meta.info.url}assets/img/contact/reset_btn_n.jpg" width="150" height="41" alt="リセット">
    button.mysubmit.left(type="submit")
      <img src="#{meta.info.url}assets/img/contact/confirm_btn_n.jpg" width="150" height="41" alt="確認">
  <!--/.confirm_btn-->
  !='\n'
  script#mfpjs(src="#{meta.info.url}mailform/mailformpro/mailformpro.cgi", type="text/javascript", charset="UTF-8")
